body{
    background-color: midnightblue;
 }
 .texto{
    color: white;
    text-align: center;
    margin: 3%;
    border: solid 1px white;
 }      
.imagem{
    width: 30%;
    height: 30%;
}
.img{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-right: 40%;
}
.nome{
    margin-top: 2%;
    text-align: center;
    color: white;
}
.card_container{
    display: flex;
    gap: 20%;
    justify-content: center;
}
.card{
    margin-top: 2%;
    background-color: midnightblue;
    color: white;
    justify-content: left;
}
.card1{
    margin-top: 2%;
    background-color: midnightblue;
    color: white;
    justify-content: right;
}
.linha{
    margin-bottom: 2%;
    color: white;  
}
.titulo{
    text-align: center;
    margin: 3%;
    color: white;
}
.cert_container{
    display: flex;
    gap: 2%;
    justify-content: center;
}
.tec{
    display: flex;
    justify-content: center;
}
.texto_tec{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-left: 11%;
    margin-right: 19%;
}
.tec2{
    display: flex;
    justify-content: center;
    gap: 14%;
    margin-right: 4%;
    margin-top: 5%;
}
.texto_tec2{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-left: 11%;
    margin-right: 20%;
}
.projetos{
    color: black;
    text-align: center;
}
.portfolio{
    color: white;
    text-align: center;
}
.port_fotos{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    gap: 10%;
}
.card-title{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    color: white;
}
.video{
    margin-top: 3%;
    display: flex;
    justify-content: center;
}
.botao{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    gap: 20%;
}